Smart_Agriculture_Flow.json
[{"id":"bb877828.a63f08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ce5e3ed5.577c5","type":"ibmiot in","z":"bb877828.a63f08","authentication":"apiKey","apiKey":"cf4eda4e.b1bba8","inputType":"evt","logicalInterface":"iotsensor","ruleId":"","deviceId":"arduino","applicationId":"","deviceType":"IOTDevice","eventType":"iotsensor","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":180,"y":140,"wires":[["f6fc00cd.e2d9a","23cb2db5.ccd562","274cb8df.cfb1a8"]]},{"id":"b225fe7f.ff11e","type":"ibmiot out","z":"bb877828.a63f08","authentication":"apiKey","apiKey":"d07a0a11.7dd238","outputType":"cmd","deviceId":"arduinoc","deviceType":"IOTDevice","eventCommandType":"command","format":"json","data":"data","qos":"2","name":"IBM IoT","service":"registered","x":660,"y":500,"wires":[]},{"id":"e4ba7a14.de7f28","type":"ui_gauge","z":"bb877828.a63f08","name":"","group":"cfab3bcd.b8e4a8","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":60,"wires":[]},{"id":"f6fc00cd.e2d9a","type":"function","z":"bb877828.a63f08","name":"Temperature","func":"\nmsg.payload=msg.payload.d.temperature;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":60,"wires":[["e4ba7a14.de7f28","f94f4f42.80c97"]]},{"id":"23cb2db5.ccd562","type":"function","z":"bb877828.a63f08","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["223d8677.aad71a"]]},{"id":"274cb8df.cfb1a8","type":"function","z":"bb877828.a63f08","name":"Object Temp","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["d0258b71.b68d68"]]},{"id":"223d8677.aad71a","type":"ui_gauge","z":"bb877828.a63f08","name":"","group":"b9306620.c949f8","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":180,"wires":[]},{"id":"d0258b71.b68d68","type":"ui_gauge","z":"bb877828.a63f08","name":"","group":"1166b8ee.4df7f7","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":280,"wires":[]},{"id":"5c73c4cf.2fe0fc","type":"http request","z":"bb877828.a63f08","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":880,"wires":[["c3ef23fa.14ad5"]]},{"id":"f964af10.837ed","type":"ui_text_input","z":"bb877828.a63f08","name":"","label":"Enter your farm city","tooltip":"","group":"735b4f50.81d71","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":90,"y":880,"wires":[["d4331730.95c208"]]},{"id":"e918d472.6b1b08","type":"ui_media","z":"bb877828.a63f08","group":"31cbd205.20d99e","name":"","width":0,"height":0,"order":1,"category":"","file":"clouds.jpg","layout":"expand","showcontrols":true,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":890,"y":940,"wires":[[]]},{"id":"d4331730.95c208","type":"function","z":"bb877828.a63f08","name":"","func":"msg.url=\"api.openweathermap.org/data/2.5/weather?q=\"+msg.payload+\"&appid=d33f959a4807b195b1bd860c8510be3c\"\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":880,"wires":[["5c73c4cf.2fe0fc"]]},{"id":"c3ef23fa.14ad5","type":"function","z":"bb877828.a63f08","name":"","func":"global.set(\"lat\",msg.payload.coord.lat)\nglobal.set(\"long\",msg.payload.coord.lon)\nglobal.set(\"weather\",msg.payload.weather)\nglobal.set(\"main\",msg.payload.main)\nglobal.set(\"wind\",msg.payload.wind)\nglobal.set(\"clouds\",msg.payload.clouds)\nglobal.set(\"cityid\",msg.payload.id)\ndelete msg.payload\nmsg.payload={}\nmsg.payload.lat =global.get(\"lat\")\nmsg.payload.lon =global.get(\"long\")\nmsg.payload.name = global.get(\"cityid\")\nmsg.payload.icon = \"wi-owm-\"+global.get(\"weather\")[0].icon;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":960,"wires":[["8505e26d.51533","ad98a76e.107668","d9088585.972248","91b88ec8.986cc","fb93f566.4c20a8","a5f699a0.15b798"]]},{"id":"8505e26d.51533","type":"ui_worldmap","z":"bb877828.a63f08","group":"735b4f50.81d71","order":3,"width":0,"height":0,"name":"","lat":"20.5937","lon":"78.9629","zoom":"5","layer":"","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":860,"y":1000,"wires":[]},{"id":"ae6abfaa.3d73c","type":"ui_text","z":"bb877828.a63f08","group":"735b4f50.81d71","order":2,"width":0,"height":0,"name":"","label":"Press Enter to check weather","format":"","layout":"col-center","x":120,"y":960,"wires":[]},{"id":"ad98a76e.107668","type":"function","z":"bb877828.a63f08","name":"","func":"var w=global.get(\"weather\")\nmsg.src=\"http://openweathermap.org/img/wn/\"+w[0].icon+\"@2x.png\" \n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":940,"wires":[["e918d472.6b1b08"]]},{"id":"f0b1ca2d.ab60f8","type":"ui_slider","z":"bb877828.a63f08","name":"","label":"Temperature","tooltip":"","group":"c7ff9496.59f0b8","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":290,"y":380,"wires":[["691503e.6e6eefc"]]},{"id":"2bb14097.fc8fe","type":"ui_switch","z":"bb877828.a63f08","name":"","label":"Motor","tooltip":"","group":"7b977c41.8ddd74","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"command\":\"MOTOR ON\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"command\":\"MOTOR OFF\"}","offvalueType":"json","officon":"","offcolor":"","x":210,"y":560,"wires":[["b225fe7f.ff11e"]]},{"id":"b453eade.f1c7e8","type":"ui_text","z":"bb877828.a63f08","group":"48106821.465e98","order":1,"width":0,"height":0,"name":"","label":"Weather:","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":1060,"wires":[]},{"id":"5465cee1.5658e","type":"ui_text","z":"bb877828.a63f08","group":"48106821.465e98","order":2,"width":0,"height":0,"name":"","label":"Temperature:","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1180,"wires":[]},{"id":"7b39cd15.5c99a4","type":"ui_text","z":"bb877828.a63f08","group":"48106821.465e98","order":3,"width":0,"height":0,"name":"","label":"Humidity:","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":1260,"wires":[]},{"id":"38ffca30.0ebd06","type":"ui_text","z":"bb877828.a63f08","group":"48106821.465e98","order":4,"width":0,"height":0,"name":"","label":"Wind Speed","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":1340,"wires":[]},{"id":"d9088585.972248","type":"function","z":"bb877828.a63f08","name":"Weather title","func":"msg.payload=global.get(\"weather\")[0].main\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1060,"wires":[["b453eade.f1c7e8"]]},{"id":"91b88ec8.986cc","type":"function","z":"bb877828.a63f08","name":"Temperature","func":"msg.payload=global.get(\"main\").temp-273.15+\"C\"\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1180,"wires":[["5465cee1.5658e"]]},{"id":"fb93f566.4c20a8","type":"function","z":"bb877828.a63f08","name":"Humidity","func":"msg.payload=global.get(\"main\").humidity+\"%\"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1260,"wires":[["7b39cd15.5c99a4"]]},{"id":"a5f699a0.15b798","type":"function","z":"bb877828.a63f08","name":"Wind Speed","func":"msg.payload=global.get(\"wind\").speed+\"m/s\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1340,"wires":[["38ffca30.0ebd06"]]},{"id":"90ad0d0b.d909c","type":"ui_toast","z":"bb877828.a63f08","position":"top right","displayTime":"1","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":830,"y":160,"wires":[]},{"id":"f94f4f42.80c97","type":"function","z":"bb877828.a63f08","name":"","func":"if(global.get(\"tempth\")<=msg.payload)\n{\n    msg.topic=null;\n    msg.payload=\"Threshold Reached.You can choose to turn the motor on\"\n}\nelse\n{\n    msg=null\n}\n    return msg;\n    \n\n","outputs":1,"noerr":0,"x":650,"y":120,"wires":[["90ad0d0b.d909c"]]},{"id":"691503e.6e6eefc","type":"function","z":"bb877828.a63f08","name":"","func":"global.set(\"tempth\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":400,"wires":[[]]},{"id":"cf4eda4e.b1bba8","type":"ibmiot","z":"","name":"arduino","keepalive":"10000","serverName":"a8v603.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d07a0a11.7dd238","type":"ibmiot","z":"","name":"arduinoc","keepalive":"60","serverName":"a8v603.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"cfab3bcd.b8e4a8","type":"ui_group","z":"","name":"Temperature","tab":"5b3251a6.496ba","order":3,"disp":true,"width":"6","collapse":false},{"id":"b9306620.c949f8","type":"ui_group","z":"","name":"Humidity","tab":"5b3251a6.496ba","order":2,"disp":true,"width":"6","collapse":false},{"id":"1166b8ee.4df7f7","type":"ui_group","z":"","name":"Object Temperature","tab":"5b3251a6.496ba","order":4,"disp":true,"width":"6","collapse":false},{"id":"735b4f50.81d71","type":"ui_group","z":"","name":"Default","tab":"a621a442.46d468","order":1,"disp":false,"width":8,"collapse":false},{"id":"31cbd205.20d99e","type":"ui_group","z":"","name":"Current Weather","tab":"29e1c457.996d6c","order":1,"disp":true,"width":4,"collapse":false},{"id":"c7ff9496.59f0b8","type":"ui_group","z":"","name":"Set Threshold values","tab":"48600557.dace5c","order":1,"disp":true,"width":"6","collapse":false},{"id":"7b977c41.8ddd74","type":"ui_group","z":"","name":"Motor Operations","tab":"c1574467.58ae98","order":5,"disp":true,"width":"6","collapse":false},{"id":"48106821.465e98","type":"ui_group","z":"","name":"Weather Parameters","tab":"29e1c457.996d6c","order":2,"disp":true,"width":"6","collapse":false},{"id":"5b3251a6.496ba","type":"ui_tab","z":"","name":"Farm details by IOT sensors","icon":"","order":3,"disabled":false,"hidden":false},{"id":"a621a442.46d468","type":"ui_tab","z":"","name":"Location of Farm","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"29e1c457.996d6c","type":"ui_tab","z":"","name":"Farm weather by weather API","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"48600557.dace5c","type":"ui_tab","z":"","name":"Notify when","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"c1574467.58ae98","type":"ui_tab","z":"","name":"Control motor","icon":"dashboard","order":6,"disabled":false,"hidden":false}]